.svg-button {
    width: var(--size300);
    height: var(--size300);
    display: inline-block;
    position: relative;
}

/* .svg-button:before {
    top: calc(100% + var(--spacing050));
    border-top-width: 0px;
    border-bottom-color: var(--color-tooltipCanvas);
    left: 50%;
    transform: translate(-50%, 0px);
    content: "";
    z-index: var(--zIndexTooltip);
    border: 4px solid transparent;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    opacity: 0;
}

.svg-button:after {
    top: calc(100% + 3px + var(--spacing050));
    left: 50%;
    transform: translate(-50%, 0px);
    content: attr(data-tooltip);
    font-size: var(--fontSize085);
    z-index: var(--zIndexTooltip);
    font-family: var(--fontSansSerif);
    text-align: center;
    width: 0px;
    min-width: 3rem;
    max-width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 143%;
    padding: var(--spacing025) var(--spacing050);
    border-radius: 4px;
    background-color: var(--color-tooltipCanvas);
    color: var(--color-tooltipText);
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    opacity: 0;
} */

.svg-button span, .svg-button svg {
    width: var(--size150);
    height: var(--size150);
    margin-bottom: -2px;
}

.svg-wrapper {
    display: inline-block;
    height: 1em;
    line-height: 0;
    vertical-align: middle;
    margin-top: -0.25em;
}

.svg-wrapper svg {
    height: 100%;
}